body{
    font-family: 'Roboto', 'Arial', sans-serif;
}

header {
    text-align: center;
    background-color: darkcyan;
    width: 100%;
    padding-block: 5%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    margin-left: 10px;
}

header img {
    width: 15em;
    height: auto;
}

#controls {
    padding-top: 5%;
    text-align: center;
}

#lookUpCountry {
    background-color: lightgreen;
    color: white;
    border: 2px solid;
    border-radius: 10px;
    padding-block: 7px;
    width: 130px;
    cursor: pointer;
    font-size: 16px;
}

#lookUpCountry:hover {
    background-color: limegreen;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#lookUpCity:active {
    background-color: greenyellow;
    box-shadow: none;
}

#lookUpCity {
    background-color: #3a9bdc;
    color: white;
    border: 2px solid;
    border-radius: 10px;
    padding-block: 7px;
    width: 120px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
}

#lookUpCity:hover {
    background-color: #2a7bb3;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#lookUpCity:active {
    background-color: #1f6a8c;
    box-shadow: none;
}

#country {
    width: 30%;
    padding: 10px;
    border: solid lightgrey;
    border-radius: 8px;
    font-size: 16px;
    color: #333;
    transition: all 0.3s ease;
}

#country:focus {
    border-color: lightgrey;
}

#country::placeholder {
    color: #888;
    font-style: italic;
}

table {
    width: 70%;
    margin: 20px auto;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
}

th, td {
    padding: 12px 20px;
    border: 1px solid #ddd;
}

thead {
    background-color: #3a9bdc;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

tbody tr:nth-child(odd) {
    background-color: #f7f7f7;
}

tbody tr:nth-child(even) {
    background-color: #ffffff;
}
